extends ../admin-base
include ../mixins/user
include ../mixins/coupon
block content 
        section.admin__section
            article.admin__search-container
                .search__content
                    span.date__text 조회일자
                    input(type="text" id="startDate" class="date__input")
                    span.date__tilde ~
                    input(type="text" id="endDate" class="date__input")
                .search__content
                    .radio__container   
                        input(type="radio" id="all" name="searchType" checked="checked")
                        label(for="all") 전체
                        input(type="radio" id="shop" name="searchType")
                        label(for="shop") 매장별
                        input(type="radio" id="coupon" name="searchType")
                        label(for="coupon") 종류
                    .search__container
                        select#searchShopList.select__arrow
                            option 선택
                            each x in shopList
                                +user(x)
                            else 
                                option 매장이 없습니다.
                        select#searchCouponList.display__none.select__arrow
                            option 선택
                            each x in payCouponList
                                    +coupon(x)
                            else 
                                option 할인권 없습니다.
                    .btn__container.file__container
                        .filebox
                            label(for="file") 파일찾기
                            input(class="upload-name" id="fileName" placeholder="엑셀 업로드" readonly="readonly")
                            input(type="file" id="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet")
                        .btn__box 
                            .main-btn#searchBtn 조회
                            .third-btn#uploadBtn 등록
                            .sub-btn 출력
            article.admin__main-container                        
                .main__content-left 
                    table.history__table
                        thead   
                            tr 
                                each x in tableHead
                                    th #{x}
                        tbody   
                            each x in saleCouponList
                                tr
                                    td #{x.shopName}
                                    td #{x.dcName}
                                    td #{x.saleCouponQty}
                                    td #{x.saleCouponAmt}
                                    td #{x.insDate}
                            else 
                                td.not__found(colspan="100%") 조회된 데이터가 없습니다.
                .main__content-right
                    .main__content-right-title 할인권 등록
                    .main__content-right-content 
                        .content__item 
                            span 매장명
                            select.select__arrow#shopCode
                                each x in shopList
                                    +user(x)
                                else 
                                    option 매장이 없습니다.
                        .content__item 
                            span 할인권
                            select.select__arrow#couponType
                                each x in payCouponList
                                    +coupon(x)
                                else 
                                    option 할인권 없습니다.
                        .content__item 
                            span 수량
                            input(type="text" maxlength="5" placeholder="0" id="couponCnt" )
                    .main__content-right__footer
                        .sub-btn#insBtn 등록
            include ../partials/footer
        script(src="/static/js/admin.js") 
        include ../partials/flatpickr