extends ../../admin-base
include ../../mixins/user
include ../../mixins/coupon
block content 
        section.admin__section
            article.admin__search-container
                .search__content
                .search__content
                    .radio__container   
                        input(type="radio" id="all" name="searchType" checked="checked")
                        label(for="all") 전체
                        input(type="radio" id="shop" name="searchType")
                        label(for="shop") 매장 별
                    .search__container
                        input(id="searchUserForm", list="selectUsers", disabled, placeholder="매장을 선택 또는 검색 하세요." style=" padding:10px")
                        datalist#selectUsers
                            each user in users
                                +user(user)
                            else 
                                option 매장이 없습니다.
                    .btn__container.file__container
                        .btn__box(style="justify-content:center;") 
                            .main-btn#searchBtn 조회
                            .sub-btn#resetBtn 초기화
                            //- .sub-btn#excelDownBtn(style="opacity:0.5;") 출력
            p.views 조회
                span#viewsCount &nbsp#{usersAuth.length}
                span 건
            article.admin__main-container
                .main__content-left                        
                    table#historyTable.admin__table.history__table.table-sort
                        thead   
                            tr 
                                th(style="padding:0px 30px;" class="disable-sort") 
                                    input#selectAllBox(type="checkbox") 
                                each head in tableHead
                                    th(style="padding:13px 15px") #{head}
                        tbody   
                            each user in users
                                tr
                                    td(style="width:10%")
                                        input(type="checkbox", name="user" value=`${user.shopCode}` checked=false)
                                    td(style="width:10%") #{user.shopName}
                                    td(style="width:10%") #{user.id}
                                    td(style="width:70%") 
                                        each coupon in user.coupons
                                            button(data-key=coupon.couponType data-shop=user.shopCode class="user_auth-btn") #{coupon.dcName}
                                        else 
                                            p 사용 가능한 키가 없습니다.
                            else 
                                td.not__found(colspan="100%") 조회된 데이터가 없습니다.
                .main__content-right
                    .main__content-right-title 할인키
                    .main__content-right-content.user_coupons-container  
                        each coupon in coupons 
                            button.user_auth-btn #{coupon.dcName}
            include ../../partials/footer
        script(src="/static/js/common.js") 
        script(src="/static/js/user-auth.js") 
        include ../../partials/flatpickr