<<<<<<< HEAD
extends ../base
block content 
    section.mypage__form
        article.userInfo 
            h2 #{user.shopName}
            div
                span 아이디
                sapn #{user.id}
            div
                span 관리자명
                span #{user.chiefName}
            div
                span 전화번호
                span #{user.telNo}
        if result.length > 0
            article.userStockInfo 
                h2 할인권 정보 
                .stock 
                    each x in result 
                        span #{x.dcName} - #{x.stock}개
        //- article.userSettingInfo 
        //-     h2 기타 설정
        //-     .setting
        //-         if userInfo.notification === "Y"
        //-             label(for="d" style="") 알림 사용
        //-             input(type="checkbox", checked)
        //-         else
        //-             label(for="d" style="") 알림 사용
        //-             input(type="checkbox" id="d")
        article.userMenuInfo 
            a(href="/discount/history") 할인내역
            a(href="/password") 암호변경
=======
extends ../base
block content 
    section.mypage__form
        article.userInfo 
            h2 #{user.shopName}
            div
                span 아이디
                sapn #{user.id}
            div
                span 관리자명
                span #{user.chiefName}
            div
                span 전화번호
                span #{user.telNo}
        if result.length > 0
            article.userStockInfo 
                h2 할인권 정보 
                .stock 
                    each x in result 
                        span #{x.dcName} - #{x.stock}개
        //- article.userSettingInfo 
        //-     h2 기타 설정
        //-     .setting
        //-         if userInfo.notification === "Y"
        //-             label(for="d" style="") 알림 사용
        //-             input(type="checkbox", checked)
        //-         else
        //-             label(for="d" style="") 알림 사용
        //-             input(type="checkbox" id="d")
        article.userMenuInfo 
            a(href="/discount/history") 할인내역
            a(href="/password") 암호변경
>>>>>>> c9d84b091ea547458fa74f9e2f81790c122b25bd
    include ../partials/footer